/* src/styles/sidebar.css */
.leaflet-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2000;
  width: 300px;
  transition: transform 0.3s ease-in-out;
  background: #fff;
  padding: 1rem;
}

.leaflet-sidebar.left {
  left: 0;
  transform: translateX(-100%);
}
.leaflet-sidebar.right {
  right: 0;
  transform: translateX(100%);
}

.leaflet-sidebar.visible.left {
  transform: translateX(0);
}
.leaflet-sidebar.visible.right {
  transform: translateX(0);
}

.leaflet-sidebar .leaflet-sidebar-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45px;
  background: #f7f7f7;
  padding: 10px 0;
}
